################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DalekBob/obj/Debug
/DalekBob/DalekBob.csproj.user
/DalekBob/DalekBob.csproj.bak
/DalekBob/.vs/DalekBob/v15
